* {
    font-family: serif;
}
/*Top header */
.header-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 10rem;
}
.header-top a {
    margin: 1.5rem .75rem 0 0;
    text-decoration: none;
}
.header-top h2 {
    margin: 1.5rem 0 0 .75rem;
}

/*main sect */
.flexbox-container {
    margin: 0 auto;
    text-align: center;
}
.heading-title {
    margin: 0 auto 2rem auto;
    font-size: 1.5rem;
}
.main-content {
    margin: 0 auto;
    width: 35%;
    font-size: 1.25rem;
} 
.start-button button{
    background-color: #BA90C6 ;
    color: white;
    padding: 10px 22px 10px 22px;
    border-radius: 7px;
    border: none;
}
main button{
    background-color: #070A52 ;
    color: white;
    padding: 10px 22px 10px 22px;
    margin: 10px auto;
    border-radius: 7px;
    border: none;
    text-align: start;
    display: block;
    font-size: 1.5rem;
}

main button:hover {
    background-color: #FFABAB;
}
.answer-validation hr {
    width: 40%;
    margin-top: 1.5rem;
}

.show-score {
    text-align: start;
    font-size: 1.25rem;
}

.score-button {
    text-align: start;
    display: inline;
    margin-left: 10px;
    font-size: 1.25rem;
    padding: 4px 25px 4px 25px;
}
.score-h2 {
    display: inline;
    margin-right: 6px;
    font-size: 1.5rem;
}

.score-input {
    height: 25px;
}
.score-title {
    text-align: start;
    width: 35%;
    font-size: 2rem;
}
.high-scores-main {
    margin: 10rem;
    width: 40%;
}
.high-scores-h1 {
    text-align: start;
    font-size: 2.5rem;

}

#scores {
    display: block;
    text-align: start;
    background-color: #E3DFFD;

}

.high-score-button {
    text-align: start;
    display: inline;
}
#scores li {
    font-size: 2rem;
    margin: 0 auto;
}
