* {
    font-family: serif;
}
/*Top header */
.header-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 10rem;
}
.header-top a {
    margin: 1.5rem .75rem 0 0;
    text-decoration: none;
}
.header-top h2 {
    margin: 1.5rem 0 0 .75rem;
}

/*main sect */
.flexbox-container {
    text-align: center;
    margin: 0 auto;
}
.heading-title {
    margin: 0 auto;
    font-size: 1.25rem;
}
.main-content {
    margin: 0 auto;
    width: 35%;
    font-size: 1.25rem;
} 
.start-button button{
    background-color: #BA90C6 ;
    color: white;
    padding: 10px 22px 10px 22px;
    border-radius: 7px;
    border: none;
}